h1{
    padding-top: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: antiquewhite;
    ;
}
#about{
background-color: rgb(243, 112, 221);
border-radius: 10px;
font-size: x-large;
color: white;
}
h2{
    color: green;
}
#body{
    background-color: powderblue;
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 40px;
}