#nav{
    font-size: x-large;
}
h1{
    padding-top: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: antiquewhite;
    ;
}
#about1{
    display: flex;
    flex-direction: column;
}
#about{
background-color: rgb(243, 112, 221);
border-radius: 10px;
font-size: x-large;
color: white;
margin-left: 20px;
}
h2{
    color: green;
}
#body{
    background-color: powderblue;
    float: left;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 40px;
    width: 80%;
}
#form{
    float:right;
    padding-top: 40px;
    margin-left: 5%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: thistle 5px 5px;
    margin-top: 40px;
    width: 70%;
}
footer{
    margin-top: 3%;
}
h5{
    color: green;
}
#email{
    color: rgb(194, 34, 34);
}

